# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/

# PyCharm files
.idea/
*.iml
*.iws

# OS files
.DS_Store
Thumbs.db

# Python logs
*.log

# Swap files
*.swp

#Models
*.h5

# Ignore large temporary files
*.h5.tmp
*.pt.tmp
*.ckpt.tmp
